@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000;
    --cor-secundaria: #FFF8DC;
    --cor-terciaria: #A81B11;

    --font-size-titulo: 2.25rem;
    --font-size-padrao: 1.5rem;
    --font-weight-padrao: 25rem;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabeçalho{
    padding: 2% 0%  0%  8%;
}

.cabeçalho__menu{
    display: flex;
    gap: 80px;
}

.cabeçalho__menu__link{
    color: var(--cor-terciaria);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-padrao);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}

.cabeçalho__menu__link:hover{
    width: fit-content;
    border-bottom: solid var(--cor-terciaria) 1px;
    border-radius: 5%;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 8%;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: var(--font-size-titulo);
    font-family: "Krona One", sans-serif;
    
}

.apresentacao__conteudo__descricao{
    font-size: var(--font-size-padrao);
    font-weight: var(--font-weight-padrao);
}

.apresentacao__conteudo__subtitulo__links{
    display: flex;
    justify-content: center;
    font-size: var(--font-size-padrao);
    font-weight: var(--font-weight-padrao);
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__links__botoes{
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    width: 45%;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0px;
    font-size: var(--font-size-padrao);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

.apresentacao__conteudo__links__botoes:hover{
    background-color: #383838;
}

#imagem{
    margin: 0;
    width: 35%;
    border: solid var(--cor-secundaria) 0.11em;
    border-radius: 50%;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-padrao);
    font-weight: var(--font-weight-padrao);
    text-align: center;
    padding: 24px;
}

/* ------Sobre mim------ */

.sobre__mim{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 8%;
}

.sobre__mim__container{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    gap: 40px;
}

.sobre__mim__titulo{
    font-size: var(--font-size-titulo);
    width: fit-content;
    border-bottom: solid 1px;
    border-radius: 5%;
}

.sobre__mim__imagem{
    width: 50%;
    border-radius: 50%;
    border: solid var(--cor-secundaria) 0.11em;
}

@media  (max-width: 1000px){
    .cabeçalho{
        padding: 8% 0;
        display: flex;
        justify-content: center;
    }

    .cabeçalho__menu__link{
        color: var(--cor-terciaria);
        font-family: 'Montserrat', sans-serif;
        font-size: var(--font-size-titulo);
    }

    .apresentacao{
        padding: 2% 3%;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .apresentacao__conteudo{
        width: 90%;
    }

    .apresentacao__conteudo__links{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .apresentacao__conteudo__links__botoes{
        padding: 5%  15%;
    }

    #imagem{
        width: 50%;
    }
}